:root {
    --cyan: hsl(179, 62%, 43%);
    --light-cyan: hsl(179, 62%, 50%);
    --bright-yellow: hsl(71, 73%, 54%);

    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);

    --fs: 16px;
    --ff: "Karla";
    --fw-400: 400;
    --fw-700: 700;
}

*, *::before, *::after {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    align-items: center;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-grid-component {
    max-width: 330px;
    width: 100%;
}

.price-grid-component__body--white {
    background-color: var(--white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
}

.price-grid-component__title--cyan {
    color: var(--cyan);
    font-family: var(--ff);
    margin: 0 0 15px;
}

.price-grid-component__subtitle--yellow {
    color: var(--bright-yellow);
    font-family: var(--ff);
    margin: 0 0 15px;
}

.price-grid-component__text--gray {
    color: var(--grayish-blue);
    font-family: var(--ff);
}

.price-grid-component__body--cyan {
    background-color: var(--cyan);
    padding: 30px 30px 20px;
}

.price-grid-component__title--white {
    color: var(--white);
    font-family: var(--ff);
    margin: 0 0 15px;
}

.price-grid-component__text {
    color: var(--light-gray);
    font-family: var(--ff);
}

.price-grid-component__text--price {
    font-size: 25px;
    font-weight: var(--fw-700);
    margin: 0 0 15px;
}

.price-grid-component__text--cyan {
    color: var(--light-cyan);
    font-weight: normal;
    font-size: 15px;
    margin: 0 0 0 10px;
}

.price-grid-component__btn {
    background-color: var(--bright-yellow);
    border-radius: 8px;
    border: none;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    color: var(--light-gray);
    font-family: var(--ff);
    margin: 25px 0 0;
    padding: 14px;
    width: 260px;
}

.price-grid-component__body--light-cyan {
    background-color: var(--light-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
}

.price-grid-component__title--white {
    color: var(--white);
    font-family: var(--ff);
    margin: 0 0 15px;
}

.price-grid-component__text-item {
    color: var(--light-gray);
    font-family: var(--ff);
    font-weight: var(--fw-400);
}

@media  screen and (min-width: 800px) {
    .price-grid-component {
        max-width: 600px;
    }

    .price-grid-component__body-row {
        display: flex;
    }

    .price-grid-component__body--white {
        padding: 40px 30px;
    }

    .price-grid-component__title--cyan {
        font-size: 22px;
    }

    .price-grid-component__body--cyan {
        border-bottom-left-radius: 10px;
    }

    .price-grid-component__btn {
        width: 250px;
    }

    .price-grid-component__body--light-cyan {
        border-bottom-left-radius: 0;
        flex-grow: 1;
    }
}
